*{
padding: 0%;
margin: 0%;
font-family: 'Josefin Sans', sans-serif;
box-sizing: border-box;
}

.Selection{
    height: 100vh;
    width: 100%;
    background-image: url(../Calamares/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}   
.logo{
        color: white;
        font-size: 35px;
        letter-spacing: 1px;

        cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;


}
nav ul li a{
    color: white;
    text-decoration:none ;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s ;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px     ;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.conten{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 75px;
}
h4{
    color: white    ;
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px ;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.Hobbies{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.Title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    box-sizing: content-box;
}
.card{
    height: 465px;
    width: 335;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h6{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;

}
.pra p{
color: #fcfc;
font-size: 16px;
line-height: 27px;
margin-bottom: 45px;
align-items: center;
letter-spacing: 1px;
white-space: pre-line;
}

.pra img{
    height: 255px;
    max-width: 300px;  
    
    border-radius: 20px;
    margin: 15px;
   
    align-items: center;
    transition: transform .4s;
   
}
.knowme{
    
        background-color: #f9004d;
        color: white;
        text-decoration: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px     ;
        transition: transform .4s;
}
.knowme:hover{
    transform: scale(1.2);
}
.pra:hover{
    transform: scale(1.2);









}
.song{
    background: #191919;
    width: 100%;
    padding: 100px 0px;
}
.Title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card2{
    height: 465px;
    width: 335;
    padding: 20px 35px;
    background-color: #101010;
    border-radius: 20px;
    margin: 15px;
    position: relative;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h6{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;

}
.pra2 p{
color: #fcfc;
font-size: 16px;
line-height: 27px;
margin-bottom: 45px;
align-items: center;
letter-spacing: 1px;
white-space: pre-line;
}

.pra2 img{
    height: 255px;
    max-width: 300px;  
    
    border-radius: 20px;
    margin: 15px;
   
    align-items: center;
    transition: transform .4s;
   

}
.pra2:hover:hover{
    transform: scale(1.2);
}
.perks{
    width: 100;
    height: 290;
    background-color: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.perks p{
    color: white;
    font-size: 20px;
    
    margin: 25px;
}